.reference {
	.format,
	.example,
	.result {
		text-indent: -55px;
		padding-left: 55px;

		@include responsive-max($screen-sm) {
			text-indent: -34px;
			padding-left: 34px;
		}
	}

	.format,
	.result {
		font-weight: 600;
	}

	.result {
		color: $green-main;
	}
}
